* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #0d0d0e;
    --secondary: #7358e9;
    --tertiary: rgb(150, 68, 182);
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: white;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
  }
  
  header h1 {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 2rem;
  }
  
  p {
    font-size:1.6rem;
  }
  li {
    font-size: 1.6rem;
    color: black;
    list-style-type: none;
  }
  
  .form-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  form input {
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.6rem;
    border: 1px solid var(--grey);
    border-radius: 1px;
  }
  
  form .form-group {
    margin: 0 auto;
    flex: 1;
  }

  .form-wrapper p {
    line-height: 1.5px;
  }
  
  footer {
    width: 100%;
    background: white;
    color: var(--tertiary);
    font-size: 2.4rem;
    padding: 20px;
  }
  
  .page-title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
  }
  
  .page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    padding-left: 15px;
    width: 95%;
  }
  
  
  .task-item {
    color: var(--grey);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--tertiary);
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  
  .btn {
    margin: 1px;
    outline: none;
    border: none;
    display: inline-block;
    padding: 5px;
    background: var(--secondary);
    font-size: 1.6rem;
    border-radius: 8px;
    position: relative;
    color: white;
  }
  
  .btn:hover {
    background: var(--tertiary);
    top: -2px;
  }
  .btn:active {
    box-shadow: 0 0px var(--tertiary);
    top: 0;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .score-list {
    width: 100%;
    text-align: left;
  }
  
  .time-remaining {
    background: white;
    color: black;
    font-size: 24px;
  }

  a {
    background: white;
    font-size: 24px;
    padding: 5px;
  }
  
  .question-text {
    font-size: 36px;
  }
  
  
  
  
  @media screen and (max-width: 980px) {
    form .form-group {
      flex: 1 100%;
    }
  
    form .form-group button {
      width: 100%;
    }
  
    .task-list-wrapper {
      flex-basis: 100%;
    }
  
  }